

/* Estilos genéricos */
.primary-color {
    color: #52bf90;
}

.title-font {
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.button-green {
    background:	#317256 !important;
    border: 2px solid #317256 !important;
    border-radius: 5px !important;
    transition: .5s all !important;
    font-weight: bold !important;
}

.button-green:hover {
    background:	white !important;
    color: #317256 !important;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.espaco-vertical {
    margin: 1em 0;
}
/* Fim dos estilos genéricos */


/* Estilos da página de login */
.container-form {
    margin-top: 50px;
}


/* Fim dos estilos da página de login */


/* Estilos da página home */

/* Fim dos estilos da página home */